<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- for the CONSOLE -->
    <appSettings>
        <add key="ConnectionStringName" value="Plus" />
        <add key="EntityId" value="ffffffff-0000-0000-0003-000000000000" />
        <add key="TempDirectory" value="C:\temp\documentprocessor" />
        <add key="TestDocuments" value="C:\test\text.docx" />
        <add key="TestMode" value="false" />
        <add key="TestRequest" value="action=convert;format=pdf" />
        <add key="ProcessStartTime" value="00:10" />
        <add key="ProcessEndTime" value="23:30" />
        <add key="WorklistEvenFilter" value="all" />
        <add key="GemboxPdfLicence" value="AN-2021Apr23-6tglJFMVtqFIT94sIX4DlW4JvY/WkTPTiD4rjyliqZFkN7zzNivjEM8h8Nblx4cKiJFrDHDCEYS86pN4Olxsrj7IS3A==A" />
        <add key="GemboxDocumentLicence" value="DN-2021Apr23-yh04Sn0AEkuVTCHnRKJ3HfXYw1tQCiszgRDLk74bPr1n5G9jz7TfLgO9VU2v2R98szzFxYobxwBFknB7iJWYPFhMswg==A" />
    </appSettings>
    <connectionStrings>
        <add name="Plus" connectionString="datasource=holt-uat-db;username=plusdp;password=88013i64zB7U;database=plus" />
    </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Pkcs11Interop" publicKeyToken="c10e9c2d8c006d2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
